{
	"ckey" :            "client",
	"character_name" :  "Same Person",
	"item_path" :       "/obj/item/clothing/accessory/locket", | /obj/item/photo
	"additional_data":
	{
		"photo_path": "path/to/photo.png",
		"prewiew_scale": 64, | размер спрайта в ревью
		"sprite_offset": 32, | подсчитывать вручную для фоток более 96*96. Обычно это значение занимает размер спрайта на фото + 16
		"message": "message in locket" | только для locket
		"photo_desc": "photo examine desc" | только для locket
	}
}
