<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <style>
	@import url(changelog_infinity.css);
  </style>
  <title>Список изменений Infinity Station</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>

	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}

  </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body><div class="hero-bkg-animated">
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3' color='#d3daeb'><b>Infinity Station</b></font></div>
			<div align='center'><font size='3' color='#d3daeb'><b><i>Проект Космической Станции 13</i></b></font></div>

			<div align='center'><font size='3' color='#d3daeb'>Вики <a href="https://wiki.infinity-ss13.info/">RU</a>-<a href="https://wiki.baystation12.net/">EN</a> | <a href="https://github.com/infinitystation/Baystation12/">Исходник нашего кода</a></font></div>
			<font size='2' color='#d3daeb'>Код лицензирован под <a href="http://www.gnu.org/licenses/agpl.html">AGPLv3</a>. Контент лицензирован под <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.</font><br>
			<font size='2' color='#d3daeb'><b>Присоединяйтесь к нашему <a href='https://discord.gg/N4atUkH'>серверу в Discord</a> :)</b></font><br>
			<font size='2' color='#d3daeb'><b>Для жалоб и предложений посетите нашу <a href='https://forms.gle/RYtDzhzqT9ag2nD1A'>гугл-форму</a>.</b></font>
			</td>
	</tr>
</table>

<br><font color='#d3daeb'><b>Поддержка проекта</b></font>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='1' color='#d3daeb'><b>Разработка - сложная и часто наблагодарная работа, заставляющая человека испытывать стресс от различных факторов: от непринятия его работы сообществом до споров о том, как ему делать свою работу. Однако, без этих людей ни один проект не может нормально существовать. </b></font><br>
			<font size='1' color='#d3daeb'><b>Здесь мы выражаем нашу благодарность каждому разработчику, что помогал проекту стать лучше в плане написания кода, проектирования карт или рисования спрайтов. Если вас не записали - пожалуйста, уведомите разработчиков, потому-что мы поздно взялись за список с благодарностями.</b></font><br>
			<br><font size='2' color='#d3daeb'><b>Кодеры:</b> quardbreak, FireFlashie, KaReTa, Sladkoeshka, Coltrane97, S.Konoplich, Gverdy, Dexofan, Ducky, bear1ake, TermService, SeasoneWolf, RuCat, Violentfire, FirstTea, Aphimag, Forrya, Ivan-P, Slayer, Archibald125, KuzyXD, RedKnightHero, Cre77, YourBro, Terror4000rus, Builder13, Logfol, Not_A_User, Sosiskoed, Courierr, FurryDog, Sarumyn, Kosteg, Liners, _Elar_, Laxesh, SolarK, SmartKar </font><br>
			<font size='1' color='#d3daeb'>А также спрайтинг/маппинг, многие из верхнего списка занимались вообще всем.</font>
			<br><font size='2' color='#d3daeb'><b>Мапперы:</b> Neterson, SanecMan, XSareth, Max750rus, DieSiege.</font>
			<br><font size='2' color='#d3daeb'><b>Спрайтеры:</b> Temblrex, Kettenhund, TwinInDifferent, Vsrneji, Krupks2017, Marionetka, Rarytech, Surman, Nymary, Chowny, Zorghol.</font>
			<br><br><font size='2'><b>Отдельное спасибо разработчикам BayStation12, /tg/station, Goon Station, Eris, разработчикам производных проектов от указанных ранее, оригинальному разработчику Space Station 13 и разработчикам BYOND.</font>
		</td>
	</tr>
</table></div>

		<!--

		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE.

		*** DO NOT MODIFY THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***

		-->
		<div class="commit sansserif">
