<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Список изменений Infinity Station</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>
  
	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}
	
  </script>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Space Station 13</font></div>
			
			<p><div align='center'><font size='3'><a href="http://wiki.baystation12.net/">Оригинальная Вики Baystation 12</a> | <a href="https://github.com/Baystation12/Baystation12/">Оригинальный код Baystation 12</a> | <a href="https://wiki.infinity-ss13.info/">Наша Вики Baystation 12</a> | <a href="https://github.com/infinitystation/Baystation12/">Наш репозиторий</a></font></div></p>
            <font size='2'>Код лицезирован под <a href="http://www.gnu.org/licenses/agpl.html">AGPLv3</a>. Контент лицензирован под <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.<br><br>
			<font size='2'><b>Наш сервер в дискорде: https://discord.gg/N4atUkH </font>
			</td>
	</tr>
</table>

<br><strong>Infinity</strong><br>
<table align='center' class="top">
	<tr>
		<td valign='top'>
            <font size='2'><b>Текущие мейнтейнеры гитхаба проекта:</b> <a href='https://github.com/infinitystation/Baystation12?tab=members'>-Гиперссылка-</a><br></font>
			<font size='2'><b>Список активных участников репозитория:</b> <a href='https://github.com/infinitystation/Baystation12/graphs/contributors'>-Гиперссылка-</a><br></font>
			<font size='2'><b>Действующие разработчики</b><br></font>
			<font size='2'><b>Кодеры:</b> Bear1ake, SolarK, Terror4000rus, S.Konoplich, TermService<br></font>
			<font size='2'><b>Спрайтеры:</b> Temblrex, Krupks2017 <br></font>
			<font size='2'><b>Мапперы:</b> Terror4000rus, Neterson, Coltrane<br></font>
			<font size='2'><b>Звуки:</b> Любой из предложивших<br></font>
			<font size='2'><b>Большое спасибо:</b> Baystation 12, Eris-Station (CEV-Eris), Solaris Station 13, /tg/ station, Paradise Station, AuroraStation, Polaris Station, /vg/station, GoonStation devs, оригинальные разработчики Space Station 13 и Invisty за картинку в лобби (для англоязычного сообщества Baystation 12).<br> Также спасибо всем, кто внёс свой вклад, но не попал сюда. Если хотите попасть сюда, обратитесь в дискорд или на форум.</font>
			<font size='2' color='red'><b><br>Нашли баг?</b> Посетите наш багтрекер <a href="https://github.com/infinitystation/Baystation12/issues?labels=Bug&state=open">-Гиперссылка-</a>.<br></font>
		</td>
	</tr>
</table>

		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT MODIFY THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">