<style type="text/css">

	.link, .linkOn, .linkOff, .selected, .disabled, .yellowButton, .redButton {
		min-width: 70px;
		margin: 0px 2px 0px 0px;
	}
</style>

{{if data}}
	{{if data.disabled}}
		<div class='notice'><center><h2><span class="bad">Вайтлист на ксеносов отключен в конфигурации сервера.</span></h2></center></div><br>
	{{/if}}
	{{if data.SQL == -1}}
		<div class='notice'><center><h3><span class="average">Вайтлист работает в файловом режиме.<br>Использование БД отключено конфигурацией сервера.</span></h3></center></div><br>
	{{else data.SQL == 0}}
		<div class='notice'><center><h3><span class="bad">Не удалось установить подключение к Базе Данных.</span></h3><br>
		{{:helper.link('Переподключение к БД.', null, {'DBreconnect' : 1})}}</center></div><br>
	{{else data.SQL == 1}}
		<div class='notice'><center><h3><span class="good">База Данных готова.</span></h3></center></div><br>
	{{else}}
		<div class='notice'><center><h3><span class="bad">Неожиданный код статуса Базы Данных: {{:data.SQL}}</span></h3><br>
		{{:helper.link('Переподключение к БД.', null, {'DBreconnect' : 1})}}</center></div><br>
	{{/if}}
	<center>
	<div style="text-align:center"> 
	{{if data.SQL == -1}}
		{{:helper.link('База Данных', null, {'mode': 1}, data.debug ? data.mode ? 'selected' : null : data.mode ? 'selected' : 'disabled')}}
		{{:helper.link('Конфиг-Файл', null, {'mode': 0}, data.debug ? data.mode ? null : 'selected' : data.mode ? 'disabled' : 'selected')}}
	{{else}}
		{{:helper.link('База Данных', null, {'mode': 0}, data.debug ? data.mode ? null : 'selected' : data.mode ? 'disabled' : 'selected')}}
		{{:helper.link('Конфиг-Файл', null, {'mode': 1}, data.debug ? data.mode ? 'selected' : null : data.mode ? 'selected' : 'disabled')}}
	{{/if}}
	</div>
	</center><br><hr>
	<table style="width:100%", align="center", border="1", rules="rows">
	<tr>
	{{if data.currentlist}}
		<th>
			{{:helper.link("Ckey", "check-square", {'sorting' : "ckey"}, data.sorting ? data.sorting == "ckey" ? 'selected' : null : 'selected')}}
		{{for data.lowerallxenos :name_value:name_key}}
			<th>
				{{:helper.link(name_value, "check-square", {'sorting' : name_value}, data.sorting ? data.sorting == name_value ? 'selected' : null : null)}}
		{{/for}}
	{{/if}}
	{{for data.currentlist}}
		<tr>
		<th>
			{{:value.ckey}}
		{{for data.lowerallxenos :name_value:name_key}}
			<td>
			{{for value.YES :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "check", {'ckey' : value.ckey, 'race' : name_value}, null, 'selected')}}
				{{/if}}
			{{/for}}
			{{for value.NO :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "box", {'ckey' : value.ckey, 'race' : name_value}, null)}}
				{{/if}}
			{{/for}}
			{{for value.GRANT :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "check-double", {'ckey' : value.ckey, 'race' : name_value}, null, 'yellowButton')}}
				{{/if}}
			{{/for}}
			{{for value.REVOKE :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "times", {'ckey' : value.ckey, 'race' : name_value}, null, 'redButton')}}
				{{/if}}
			{{/for}}
		{{/for}}
	{{empty}}
		<tr>
			<center><h1><span class="average">Список пуст. Внесите новый ckey.</span></h1><br>Или используйте другой способ синхронизации вайтлиста.</center>
	{{/for}}
	</table>
{{else}}
	<center><h2><span class="bad">Интерфейс не получил никаких данных.<br>Перезагрузите окно.</span></h2></center>
{{/if}}
